Repository kyma-project/hydroform, pull requests merged in 2020-10, with the labels that each got.

#129 Add serverless function API
  .gitignore
  CODEOWNERS
  function/README.md
  function/examples/README.md
  function/examples/apply/README.md
  function/examples/apply/main.go
  function/examples/init/README.md
  function/examples/init/main.go
  function/go.mod
  function/go.sum
  function/pkg/client/automock/client.go
  function/pkg/client/client.go
  function/pkg/client/status.go
  function/pkg/client/status_test.go
  function/pkg/manager/manager.go
  function/pkg/manager/manager_test.go
  function/pkg/manager/options.go
  function/pkg/operator/automock/operator.go
  function/pkg/operator/generic_operator.go
  function/pkg/operator/generic_operator_test.go
  function/pkg/operator/operator.go
  function/pkg/operator/operator_test.go
  function/pkg/operator/options.go
  function/pkg/operator/triggers_operator.go
  function/pkg/operator/triggers_operator_test.go
  function/pkg/resources/types/runtimes.go
  function/pkg/resources/unstructured/decorator.go
  function/pkg/resources/unstructured/function.go
  function/pkg/resources/unstructured/function_test.go
  function/pkg/resources/unstructured/git_repository.go
  function/pkg/resources/unstructured/git_repository_test.go
  function/pkg/resources/unstructured/trigger.go
  function/pkg/resources/unstructured/trigger_test.go
  function/pkg/workspace/cfg.go
  function/pkg/workspace/empty_file.go
  function/pkg/workspace/file.go
  function/pkg/workspace/templated_file.go
  function/pkg/workspace/workspace.go
  function/pkg/workspace/workspace_test.go
  function/pkg/workspace/writer_provider.go
  function/pkg/workspace/writer_provider_test.go
  function/pkg/workspace/ws_nodejs.go
  function/pkg/workspace/ws_python.go
Labels: area/cli

#131 Refactor trigger configuration
  function/go.sum
  function/pkg/resources/unstructured/function_test.go
  function/pkg/resources/unstructured/trigger_test.go
  function/pkg/workspace/cfg.go
  function/pkg/workspace/workspace_test.go
Labels: area/cli, hacktoberfest-accepted

#132 Add API for sync function command
  function/go.mod
  function/go.sum
  function/pkg/client/client.go
  function/pkg/resources/types/function.go
  function/pkg/resources/types/git_repository.go
  function/pkg/resources/types/repository.go
  function/pkg/resources/types/trigger.go
  function/pkg/workspace/workspace.go
  function/pkg/workspace/workspace_test.go
Labels: area/cli, enhancement

#133 Document function synchronize
  function/examples/README.md
  function/examples/cmd/init/README.md
  function/examples/cmd/init/main.go
  function/go.sum
Labels: area/documentation, hacktoberfest-accepted
