Repository kyma-project/hydroform, changes with the owners that CODEOWNERS names for each.
All owners: @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @rakesh-garimella, @mjakobczyk, @m00g3n, @aerfio, @pPrecel, @magicmatatjahu, @dbadura, @tgorgol, @kfurgol, @kazydek, @klaudiagrz, @mmitoraj, @majakurcius, @alexandra-simeonova

Remove dead code
  parallel-install/pkg/deployment/core.go
  parallel-install/pkg/deployment/deletion.go
  parallel-install/pkg/deployment/deletion_test.go
  parallel-install/pkg/deployment/deployment.go
  parallel-install/pkg/deployment/deployment_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Override to deactivate kcproxy
  parallel-install/pkg/deployment/core.go
  parallel-install/pkg/deployment/overrideinterceptors.go
  parallel-install/pkg/deployment/overrides.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Update overrideinterceptors.go
  parallel-install/pkg/deployment/overrideinterceptors.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Deactivate kc proxy for kiali and tracing (#268)
  parallel-install/pkg/deployment/core.go
  parallel-install/pkg/deployment/overrideinterceptors.go
  parallel-install/pkg/deployment/overrides.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Review fix
  parallel-install/pkg/deployment/core.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Update Makefile
  Makefile
Owners: @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs

Interceptors batteries included (#263)
  parallel-install/go.sum
  parallel-install/pkg/deployment/core.go
  parallel-install/pkg/deployment/deletion.go
  parallel-install/pkg/deployment/deletion_test.go
  parallel-install/pkg/deployment/deployment.go
  parallel-install/pkg/deployment/deployment_test.go
  parallel-install/pkg/deployment/overrideinterceptors.go
  parallel-install/pkg/deployment/overrideinterceptors_test.go
  parallel-install/pkg/logger/logger.go
  parallel-install/pkg/test/data/deployment-global-overrides-for-remote-cluster.yaml
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Patch coreDNS basic functionality
  parallel-install/example/example.go
  parallel-install/pkg/deployment/overrideinterceptors.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Fix typo, get coreDNS config before patching
  parallel-install/pkg/deployment/overrideinterceptors.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Smarter CoreDNS patching function
  parallel-install/pkg/deployment/overrideinterceptors.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Check template execute error value
  parallel-install/pkg/deployment/overrideinterceptors.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Separate file for coreDNS patch, add test
  parallel-install/pkg/deployment/overrideinterceptors.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Separate file for coreDNS patch, add test
  parallel-install/pkg/deployment/coredns.go
  parallel-install/pkg/deployment/coredns_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Improve variable naming
  parallel-install/pkg/git/clone.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Move logic to separate functions
  parallel-install/pkg/deployment/coredns.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Fix test
  parallel-install/pkg/deployment/coredns.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Improve variable naming (#273)
  parallel-install/pkg/git/clone.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Rename master to main (leftover)
  .github/pull-request-template.md
Owners: @kazydek, @klaudiagrz, @mmitoraj, @majakurcius, @alexandra-simeonova

Rename master to main (leftover) (#275)
  .github/pull-request-template.md
Owners: @kazydek, @klaudiagrz, @mmitoraj, @majakurcius, @alexandra-simeonova

Add tests, CR fixes
  parallel-install/pkg/deployment/coredns.go
  parallel-install/pkg/deployment/coredns_test.go
  parallel-install/pkg/deployment/deletion_test.go
  parallel-install/pkg/deployment/deployment_test.go
  parallel-install/pkg/deployment/overrideinterceptors.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

CR
  parallel-install/example/example.go
  parallel-install/pkg/deployment/coredns_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Coredns patch (#270)
  parallel-install/pkg/deployment/coredns.go
  parallel-install/pkg/deployment/coredns_test.go
  parallel-install/pkg/deployment/deletion_test.go
  parallel-install/pkg/deployment/deployment_test.go
  parallel-install/pkg/deployment/overrideinterceptors.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

print terraform verbose
  provision/internal/operator/terraform/operator.go
  provision/internal/operator/terraform/ops.go
  provision/types/ops.go
Owners: @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs

print terraform verbose (#277)
  provision/internal/operator/terraform/operator.go
  provision/internal/operator/terraform/ops.go
  provision/types/ops.go
Owners: @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs

use new go-git v5 library and fix bug in semVer checkout
  parallel-install/go.mod
  parallel-install/go.sum
  parallel-install/pkg/git/clone.go
  parallel-install/pkg/git/clone_test.go
  parallel-install/pkg/git/resolve.go
  parallel-install/pkg/git/resolve_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

git fix: fetch PR before checkout
  parallel-install/pkg/git/clone.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Add override interceptor for container registry
  parallel-install/pkg/deployment/core.go
  parallel-install/pkg/deployment/overrideinterceptors.go
  parallel-install/pkg/deployment/overrideinterceptors_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Add resources labeling
  parallel-install/pkg/preinstaller/preinstaller.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Add override interceptor for container registry (#276)
  parallel-install/pkg/deployment/core.go
  parallel-install/pkg/deployment/overrideinterceptors.go
  parallel-install/pkg/deployment/overrideinterceptors_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Update go-git and fix commit resolve for semVer. (#274)
  parallel-install/go.mod
  parallel-install/go.sum
  parallel-install/pkg/git/clone.go
  parallel-install/pkg/git/clone_test.go
  parallel-install/pkg/git/resolve.go
  parallel-install/pkg/git/resolve_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Fix k3d cluster name detection when using agents
  parallel-install/pkg/deployment/core.go
  parallel-install/pkg/deployment/overrideinterceptors_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Fix k3d cluster name detection when using agents (#279)
  parallel-install/pkg/deployment/core.go
  parallel-install/pkg/deployment/overrideinterceptors_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Uninstall Kyma namespaces
  parallel-install/example/example.go
  parallel-install/go.mod
  parallel-install/go.sum
  parallel-install/pkg/deployment/deletion.go
  parallel-install/pkg/deployment/deletion_test.go
  parallel-install/pkg/deployment/deployment.go
  parallel-install/pkg/helm/metadataprovider.go
  parallel-install/pkg/namespace/namespace.go
  parallel-install/pkg/preinstaller/preinstaller.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Uninstall Kyma namespaces (#281)
  parallel-install/example/example.go
  parallel-install/go.mod
  parallel-install/go.sum
  parallel-install/pkg/deployment/deletion.go
  parallel-install/pkg/deployment/deletion_test.go
  parallel-install/pkg/deployment/deployment.go
  parallel-install/pkg/helm/metadataprovider.go
  parallel-install/pkg/namespace/namespace.go
  parallel-install/pkg/preinstaller/preinstaller.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Add coreDNS patch for K3s and interceptor imprvements
  parallel-install/go.mod
  parallel-install/go.sum
  parallel-install/pkg/deployment/core.go
  parallel-install/pkg/deployment/coredns.go
  parallel-install/pkg/deployment/coredns_test.go
  parallel-install/pkg/deployment/deletion.go
  parallel-install/pkg/deployment/deletion_test.go
  parallel-install/pkg/deployment/deployment.go
  parallel-install/pkg/deployment/deployment_test.go
  parallel-install/pkg/deployment/overrideinterceptors.go
  parallel-install/pkg/deployment/overrides.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Fix missing error check and functions length
  parallel-install/pkg/deployment/coredns.go
  parallel-install/pkg/deployment/deployment.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Fix boolean assignment
  parallel-install/pkg/deployment/coredns.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Add coreDNS patch for K3s and interceptor improvements (#280)
  parallel-install/go.mod
  parallel-install/go.sum
  parallel-install/pkg/deployment/core.go
  parallel-install/pkg/deployment/coredns.go
  parallel-install/pkg/deployment/coredns_test.go
  parallel-install/pkg/deployment/deletion.go
  parallel-install/pkg/deployment/deletion_test.go
  parallel-install/pkg/deployment/deployment.go
  parallel-install/pkg/deployment/deployment_test.go
  parallel-install/pkg/deployment/overrideinterceptors.go
  parallel-install/pkg/deployment/overrides.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Rename adding label to addLabel, add tests
  parallel-install/pkg/preinstaller/preinstaller.go
  parallel-install/pkg/preinstaller/preinstaller_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Add resources labeling (#278)
  parallel-install/pkg/preinstaller/preinstaller.go
  parallel-install/pkg/preinstaller/preinstaller_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

CODEOWNERS:

# This file provides an overview of code owners in the `hydroform` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `hydroform` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @a-thaler @hisarbalik @lilitgh @suleymanakbas91 @clebs

/provision @a-thaler @hisarbalik @lilitgh @suleymanakbas91 @clebs

/install @akgalwas @janmedrek @Szymongib @franpog859 @Maladie

/parallel-install @tobiscr @strekm @Tomasz-Smelcerz-SAP @werdes72 @PhillipAmend @colunira @a-thaler @hisarbalik @lilitgh @suleymanakbas91 @clebs @rakesh-garimella @mjakobczyk

/function @m00g3n @aerfio @pPrecel @magicmatatjahu @dbadura @tgorgol @kfurgol

# All .md files
*.md @kazydek @klaudiagrz @mmitoraj @majakurcius @alexandra-simeonova
