Repository kyma-project/hydroform, changes with the owners that CODEOWNERS names for each.
All owners: @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @rakesh-garimella, @mjakobczyk, @m00g3n, @aerfio, @pPrecel, @magicmatatjahu, @dbadura, @tgorgol, @kfurgol, @kazydek, @klaudiagrz, @mmitoraj, @majakurcius, @alexandra-simeonova

Revert "Add resources labeling (#278)"
  parallel-install/pkg/preinstaller/preinstaller.go
  parallel-install/pkg/preinstaller/preinstaller_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Revert "Add resources labeling (#278)" (#282)
  parallel-install/pkg/preinstaller/preinstaller.go
  parallel-install/pkg/preinstaller/preinstaller_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Add labeling to CRD and NS resources in PreInstaller
  parallel-install/pkg/preinstaller/preinstaller.go
  parallel-install/pkg/preinstaller/preinstaller_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Expose recoverable attribute in InstallationError
  install/installation/errors.go
  install/installation/installation.go
Owners: @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie

Add unit test cases for recoverable attribute
  install/installation/installation_test.go
Owners: @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie

Expose recoverable attribute in InstallationError (#284)
  install/installation/errors.go
  install/installation/installation.go
  install/installation/installation_test.go
Owners: @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie

add test to resolve short commit hash
  parallel-install/pkg/git/resolve_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

add test to resolve short commit hash (#285)
  parallel-install/pkg/git/resolve_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Add labeling to CRD and NS resources in PreInstaller (#283)
  parallel-install/pkg/preinstaller/preinstaller.go
  parallel-install/pkg/preinstaller/preinstaller_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Introduce PostUninstaller
  parallel-install/example/example.go
  parallel-install/pkg/postuninstaller/postuninstaller.go
  parallel-install/pkg/postuninstaller/postuninstaller_test.go
  parallel-install/pkg/preinstaller/mocks/ResourceManager.go
  parallel-install/pkg/preinstaller/preinstaller.go
  parallel-install/pkg/preinstaller/resourceapplier.go
  parallel-install/pkg/preinstaller/resourcemanager.go
  parallel-install/pkg/preinstaller/resourcemanager_test.go
  parallel-install/pkg/preinstaller/resourceparser.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Remove further leftover resources
  parallel-install/pkg/deployment/deletion.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Remove further leftover resources (#287)
  parallel-install/pkg/deployment/deletion.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Add more tests cases
  parallel-install/pkg/postuninstaller/postuninstaller.go
  parallel-install/pkg/postuninstaller/postuninstaller_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Rename Kyma labels
  parallel-install/pkg/postuninstaller/postuninstaller.go
  parallel-install/pkg/postuninstaller/postuninstaller_test.go
  parallel-install/pkg/preinstaller/preinstaller.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Run formatter
  parallel-install/pkg/postuninstaller/postuninstaller_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Reduce complexity of PreInstaller API
  parallel-install/example/example.go
  parallel-install/pkg/preinstaller/preinstaller.go
  parallel-install/pkg/preinstaller/preinstaller_test.go
Owners: @tobiscr, @strekm, @Tomasz-Smelcerz-SAP, @werdes72, @PhillipAmend, @colunira, @a-thaler, @hisarbalik, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @mjakobczyk

Fix
  function/pkg/workspace/workspace.go
Owners: @m00g3n, @aerfio, @pPrecel, @magicmatatjahu, @dbadura, @tgorgol, @kfurgol

CODEOWNERS:

# This file provides an overview of code owners in the `hydroform` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `hydroform` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @a-thaler @hisarbalik @lilitgh @suleymanakbas91 @clebs

/provision @a-thaler @hisarbalik @lilitgh @suleymanakbas91 @clebs

/install @akgalwas @janmedrek @Szymongib @franpog859 @Maladie

/parallel-install @tobiscr @strekm @Tomasz-Smelcerz-SAP @werdes72 @PhillipAmend @colunira @a-thaler @hisarbalik @lilitgh @suleymanakbas91 @clebs @rakesh-garimella @mjakobczyk

/function @m00g3n @aerfio @pPrecel @magicmatatjahu @dbadura @tgorgol @kfurgol

# All .md files
*.md @kazydek @klaudiagrz @mmitoraj @majakurcius @alexandra-simeonova
